.header {
  background: $offBlack;
  color: white;
  margin-bottom: $m-Size;
  padding: $m-Size 0;
}

.header__title {
  font-size: $l-Size;
  margin: 0;
}

.header__subtitle {
  color: $offWhite;
  font-size: $m-Size;
  font-weight: 500;
  margin: 0;
}

//min-width : 450px
@media (min-width: $desktop-breakpoint){
  .header{
      margin-bottom: $xl-Size;
  }

}
